%div.title_box
  - if type == :singlepage
    %a{ href: '#toc', title: :back.t, class: 'back'} #{:back.t}
  - else
    %a{ href: 'index.html', title: :back.t, class: 'back'} #{:back.t}
  %h1{ id: page.id }#{page.title}
  %small.summary=h page.summary
- if wiki_html.present?
  = wiki_html
- if page.posts.present?
  %div.comments
    %h2=h(:comments.t)
    - page.posts.each do |post|
      %h4= "#{post.user.login} on #{post.updated_at}"
      .negativespace
      = post.body_html
- if page.assets.present?
  %div.attachments
    %h2=h(:attachments.t)
    %ul
      - page.assets.each do |asset|
        - image_url = File.join('assets', asset.id.to_s, asset.filename.gsub(' ', '+'))
        %li
          %a{ href: image_url, title: asset.filename } #{asset.filename}
- if page.data.is_a? Asset
  %div.attachments
    %h2=h(:file.t)
    - image_url = File.join('assets', page.data.id.to_s, page.data.filename.gsub(' ', '+'))
    %img{ src: image_url,  alt: 'avatar', height: '64', width: '64' }
    %ul
      %li
        %a{ href: image_url, title: page.data.filename } #{page.data.filename}
